<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Document</title>
</head>
<body>
    <form method="POST">
       
        <div>
            <label for="newpassword">新密碼</label>
            <input type="password" id="newpassword" name="newpassword">
        </div>
        <div>
            <label for="confirmpassword">確認新密碼</label>
            <input type="password" id="confirmpassword" name="confirmpassword">
        </div>
        <div>
            <label for="submit"></label>
            <input type="submit">
        </div>
    </form>
</body>
</html>