<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const mylist = document.getElementById("mtList")
        const myitem = document.getElementById("myitem")
        mylist.addEventListener("click",(e) =>{
            //var msg = e.target.elements.value;
            console.log("mylist" ,)
        })
        
    </script>
      
    
    

</head>
<body>
    <ul id="myList">
        <li id="myitem">Item 01</li>
        <li id="myitem">Item 02</li>
        <li id="myitem">Item 03</li>
    </ul>
    <input type="submit" onclick="remove()">
   
      
</body>
</html>