<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" ></link>
    <link rel="stylesheet" href="/stylesheets/register.css" ></link>
        <script>
        //上傳圖片顯示
        function readURL(input){

        if(input.files && input.files[0]){

            var imageTagID = input.getAttribute("targetID");

            var reader = new FileReader();

            reader.onload = function (e) {

            var img = document.getElementById(imageTagID);

            img.setAttribute("src", e.target.result)

            }

            reader.readAsDataURL(input.files[0]);

        }
        }

        </script>

   
</head>
<body>
     
      <div class="container">
        <div class="navbar">
          <img src="/images/logo.png" class="logo">
          <div class="logo-text">
            <img src="/images/logotext.png">
          </div>
          <nav>
            <ul>          
              <li><a href="/homepage"><i class="fas fa-home"></i><p>Home</p></a></li>
              <li><a href="/login"><i class="fas fa-sign-in-alt"></i><p>Login</p></a></li>
              <li><a href="/register"><i class="fas fa-registered"></i><p>Register</p></a></li>
              <li><a href="/users/grouplist"><i class="fas fa-users-cog"></i><p>group</p></a></li>
            </ul>
          </nav>
        </div>
        <div class="href"></div>
        <div class="row">
          <div class="rowcontent">         
            <form method="POST">
              <div class="login">
                <section>Register</section>
              </div>
              <div class="content">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Email" required>
              </div>            
              <div class="content">
                <i class="fas fa-user"></i>
                <input type="text" name="username" id="username" placeholder="Username maxlength=6" maxlength="6" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" required> 
              </div> 
              <div class="content">
                <i class="fas fa-unlock-alt"></i>
                <input type="password" name="password" id="password" placeholder="Password maxlength=12" maxlength="12" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" required> 
              </div> 
              <div class="content">
                <i class="fas fa-unlock-alt"></i>
                <input type="password" name="confirmpassword" id="confirmpassword"  placeholder="Confirmpassword maxlength=12" maxlength="12"  onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" required> 
              </div> 
              <div class="content">
                <input type="submit" value="register">
          </form>
                
              </div>
          </div>
        </div>
      </div>
    
        
    
</body>

</html>